/*SROLLBAR*/
::-webkit-scrollbar-track{
    -webkit-box-shadow: iset 0 0 6px rgba(0,0,0,0,3);
    border-radius: 0;
    background-color: #fffbf3;
}
::-webkit-scrollbar{
    width: 3px;
    background-color: #fffbf3;
}
::-webkit-scrollbar-thumb{
    border-radius: 0;
    -webkit-box-shadow: iset 0 0 6px rgba(0,0,0,.3);
    background-color: #d6efea;
}

/******/
/*Page*/
/******/
#body {
    background-color: #f2f2f2;
    color: #120907;
    font-size: 20px;
}
#body a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    transition: all .5s;
}
#body p {
    font-size: 15px;
}
#body .after-decoration:hover {
    color: #0d6efd;
}
#body .after-decoration:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1dffb9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
} 
#body .after-decoration:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#header span {
    font-size: 25px;
    font-weight: bold;
    color: #0d6efd;
}
#header .span-one:hover {
    color: #060606;
}
#header .span-two:hover {
    color: orangered;
}
.navbar {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}
.fa-align-justify {
    color: whitesmoke;
}
.bg-person { /*This aplicated with navbar and footer*/
    background-color: white;
}
#main .card {
    height: 550px;
}
#footer span {
    font-size: 50px;
    font-weight: bold;
    color: #0d6efd;
}
#footer .span-one:hover {
    color: #060606;
}
#footer .span-two:hover {
    color: orangered;
}
header i {
    font-size: 25px;
    color: #0d6efd;
}
#main i {
    font-size: 40px;
    color: #0d6efd;
}
.footer {
    margin-top: 129px;
    border-top: 1px solid rgb(223, 223, 223);
    border-bottom: 1px solid rgb(223, 223, 223);
}
/**********/
/*register*/
/**********/
#body-register {
    background-color: rgb(17, 17, 17);
}
#body-register .modal-content {
    margin-top: 50%;
    background-color: whitesmoke;
}
#body-register input {
    border-color: black;
}
#body-register textarea {
    border-color: black;
}

/*******/
/*login*/
/*******/
#body-login {
    background-color: rgb(17, 17, 17);
}
.h1-login {
    font-size: 100px;
    color: rgb(187, 51, 1);
}
#body-login .modal-content {
    margin-top: 50%;
    background-color: rgba(0,0,0,.3);
}
#body-login textarea {
    background-color: rgba(0,0,0,.3);
    border-color: rgb(187, 51, 1);
}
#body-login input {
    background-color: rgba(0,0,0,.3);
    border-color: rgb(187, 51, 1);
}
#body-login .btn-person {
    background-color: rgb(187, 51, 1);
}
.h3-login {
    color: black;
    margin-right: 15px;
}

/**********/
/*lenguaje*/
/**********/
#body-lenguaje {
    background-color: gray;
}
#body-lenguaje .bienvenida {
    font-size: 25px;
    color: black;
}
#body-lenguaje .card {
    width: 100%;
    background-color: darkgray;
    border-color: orangered;
}

/********/
/*course*/
/********/
#body-course {
    background-image: url("images/trading.jpg");
}
.usuario-name {
    color: whitesmoke;
    font-size: 20px;
    border: 1px solid orangered;
    padding: 5px;
    border-radius: 10px;
}
#body-course .accordion {
    margin-top: 15%;
}
#body-course .card {
    background-color: darkgray;
}
#body-course .btn-link {
    text-decoration: none;
    color: rgb(187, 51, 1);
    font-weight: bold;
}
#body-course .img-person {
    width: 100%;
    height: 80%;
    border-radius: 5px;
}
#link a {
    color: rgb(255, 196, 0);
}
#data .card-data {
    margin-top: 15%;
}
#data .card-header {
    font-size: 25px;
}
#data .card-body {
    font-size: 20px;
    height: 300px;
    overflow: auto;
}
#trading a {
    color: rgb(255, 196, 0);
}
#trading .card-data {
    margin-top: 5%;
}
#trading .card-header {
    font-size: 25px;
}
#trading .card-body {
    font-size: 20px;
    height: 300px;
    overflow: auto;
}
#trading img {
    height: 200%;
    width: 70%;
}
#trading .little-img {
    height: 150%;
    width: 50%;
}

/*******/
/*popup*/
/*******/
.overlay {
    background-color: rgba(148, 135, 94, 0.308);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active {
    visibility: visible;
}
.card-person {
    width: 300px;
}
.p-card-person {
    font-size: 15px;
}

/*****************/
/*scroll-progress*/
/*****************/
#scroll-progress {
    position: fixed;
    top: 0;
    width: 0%;
    height: 4px;
    background: rgb(255, 196, 0);
    z-index: 10000;
}
