/*SROLLBAR*/
::-webkit-scrollbar-track{
    -webkit-box-shadow: iset 0 0 6px rgba(0,0,0,0,3);
    border-radius: 0;
    background-color: rgb(17, 17, 17);
}
::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(17, 17, 17);
}
::-webkit-scrollbar-thumb{
    border-radius: 0;
    -webkit-box-shadow: iset 0 0 6px rgba(0,0,0,.3);
    background-color: orangered;
}
/*Html and Body*/
.switch {
    background-color: #343d5b;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    display: flex;
}
.span-person {
    width: 27px;
    height: 27px;
    line-height: 27px;
    display: block;
    background: none;
    color: orangered;
}
.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: gray;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.3);
}
.switch.active {
    background-color: orange;
}
.switch.active::after {
    right: 0;
    left: unset;
}
.body {
    background-color: rgb(17, 17, 17);
    transition: .5 ease all;
    font-size: 20px;
}
.body.light {
    background-color: darkgray;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
#content .nav-link {
    color: #fff;
}
#content .dropdown-menu {
    background-color: black;
}
#content .dropdown-item {
    color: orangered;
}
#content .dropdown-divider {
    border-color: gray;
}
#content .nav-color-person {
    color: whitesmoke;
    background-color: gray;
    border-radius: 20px;
}
#content #sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgba(245, 245, 245, 0);
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/*CONTENT*/
#card {
    background-color: gray;
    border-radius: 15px;
}
#card p {
    color: black;
}
#card-info p {
    color: gray;
}
.fa-bitcoin {
    font-size: 50px;
}
#card-info .fa-calendar-alt {
    font-size: 50px;
    color: rgb(187, 51, 1);
}
#trading-information h4 {
    color: rgb(187, 51, 1);
}
#trading-information h5 {
    color: gray;
}
#trading-information .fa-chart-line {
    font-size: 80px;
    color: rgb(187, 51, 1);
}
#cc-information h4 {
    color: rgb(187, 51, 1);
}
#cc-information h5 {
    color: gray;
}
#cc-information .fa-coins {
    font-size: 80px;
    color: rgb(187, 51, 1);
}
#information h4 {
    color: rgb(187, 51, 1);
}
#information h5 {
    color: gray;
}
#information .fa-info-circle {
    font-size: 80px;
    color: rgb(187, 51, 1);
}
.calendary {
    width: 100%;
}
#calendary h4 {
    color: rgb(187, 51, 1);
}
#calendary ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
#calendary .first-day {
    grid-column-start: 3;
}
#calendary .day-name {
    font-weight: bold;
    color: black;
    background-color: gray;
}
#calendary .init-course {
    background-color: rgb(187, 51, 1);
    border-radius: 20px;
}
/*Footer*/
#footer {
    background-color: rgba(128, 128, 128, 0.452);
}
#footer .img-person {
    width: 120px;
    height: 100px;
}
#footer a {
    color: #fff;
    text-decoration: none;
}
/*register*/
#body-register {
    background-color: rgb(17, 17, 17);
}
#body-register .modal-content {
    margin-top: 50%;
    background-color: whitesmoke;
}
#body-register input {
    border-color: black;
}
#body-register textarea {
    border-color: black;
}
/*login*/
#body-login {
    background-color: rgb(17, 17, 17);
}
.h1-login {
    font-size: 100px;
    color: rgb(187, 51, 1);
}
#body-login .modal-content {
    margin-top: 50%;
    background-color: rgba(0,0,0,.3);
}
#body-login textarea {
    background-color: rgba(0,0,0,.3);
    border-color: rgb(187, 51, 1);
}
#body-login input {
    background-color: rgba(0,0,0,.3);
    border-color: rgb(187, 51, 1);
}
#body-login .btn-person {
    background-color: rgb(187, 51, 1);
}
.h3-login {
    color: black;
    margin-right: 15px;
}